@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-surface text-on-surface;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-surface text-on-surface font-body;
  }

  ::selection {
    @apply bg-primary text-on-primary;
  }
}

@layer utilities {
  .hero-text-shadow {
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
